// scss 변수 사용해 보기
$primary-color : #439EF2;
.sideContainer {
    display: inline-block;
    width:80px;
    height: 100vh;
}

.sideBar {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    width:80px;
    height: 100%;
    background-color: $primary-color;
    align-items:center;

    button {
        width:45px;
        height: 45px;
        border-radius: 20px;
        text-align: center;
        border:2px solid #FFFFFF;
        outline:none;
    }

    button:hover {

        img {
            
            width:40px;
            height: 40px;
        }

        border:3px solid #FFFFFF;
        
    }

  }